doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body
    div.container
      header.page-header
        h1 #{title}
      div.perfs
          each perf in perfs
            div.row 
              div.col-md-3
                h2 #{perf.title}
                h5 
                  a(href="/sets##{perf.setId}").label.label-primary #{perf.setId}
                  | 
                  a(href="/sets##{perf.setId}").label.label-default #{perf.setDate}

                ul
                  each source in perf.sourceType
                    li #{source}

              div.col-md-3.previewZone
                ol.stack
                  each verso in perf.versos
                    li(src="#{verso.thumb}")
                span.label.label-success #{perf.versoCount}
                input(type="range" min="1" max="#{perf.versoCount}" step="1" value="1")
                img.preview(src='#{perf.versoIcon}')

              div.col-md-3.previewZone
                ol.stack
                  each verso in perf.rectos
                    li(src="#{verso.thumb}")
                span.label.label-success #{perf.rectoCount}
                input(type="range" min="1" max="#{perf.rectoCount}" step="1" value="1")
                img.preview(src='#{perf.rectoIcon}')

              div.col-md-2.previewZone
                ol.stack
                  each predoc in perf.predocs
                    li(src="#{predoc.thumb}")
                span.label.label-success #{perf.predocCount}
                input(type="range" min="1" max="#{perf.predocCount}" step="1" value="1")
                img.preview(src='#{perf.predocIcon}')


    //- scripts
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/48.js')