doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body
    div.container
      header.page-header
        h1 #{title}
      div.perfs
        div.row 
          each perf in perfs
            div.col-md-4
              h2 #{perf.title}
              h5 #{perf.setId}, #{perf.setDate}

            div.col-md-8.perf
                p.col-md-4
                  span.label.label-success V #{perf.versoCount}
                  if perf.versoIcon
                    img(src='#{perf.versoIcon}')

                p.col-md-4
                  span.label.label-primary R #{perf.rectoCount}
                  if perf.rectoIcon
                  img(src='#{perf.rectoIcon}')

                p.col-md-2
                  span.label.label-info Pre-doc #{perf.predocCount}
                  if perf.predocIcon
                  img(src='#{perf.predocIcon}' width='100%')

                p.col-md-2
                  span.label.label-info Sources #{perf.versoCount}
                  each source in perf.sourceType
                    li #{source}

    //- scripts
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/48.js')