html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body
    div.container
      header.page-header
        h1 #{title}
        div.perfs
          each set in sets
            hr(id='#{set.setId}')
            h1
              span.label.label-primary #{set.setId} — #{set.setDate}
            hr
            
            div.row

              div.col-md-3
                p.readme !{set.readme.html}

              div.col-md-4.previewZone
                ol.stack
                  each doc in set.docs
                    li(src="#{doc.thumb}")
                span.label.label-success #{set.docCount}
                input(type="range" min="1" max="#{set.docCount}" step="1" value="1")
                img.preview(src='#{set.docIcon}')

              div.col-md-5.previewZone
                ol.stack
                  each dispositif in set.dispositifs
                    li(src="#{dispositif.thumb}")
                span.label.label-success #{set.dispositifCount}
                input(type="range" min="1" max="#{set.dispositifCount}" step="1" value="1")
                img.preview(src='#{set.dispositifIcon}')

    //- scripts
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/48.js')