html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body#sets
    div.container-fluid
      header.page-header
        h1 
          a(href="/") #{title}
        div.perfs
          each set in sets
            hr(id='#{set.setId}')
            h1
              span.label.label-primary #{set.setId} — #{set.setDate}
            hr
            
            div.row

              div.col-md-4
                div.previewZone
                  ol.stack
                    each doc in set.docs
                      li(src="#{doc.thumb}")
                  span.label.label-success #{set.docCount}
                  input(type="range" min="1" max="#{set.docCount}" step="1" value="1")
                  img.preview(src='#{set.docIcon}')
                p.readme !{set.readme.html}


              //- div.col-md-4.previewZone
              //-   ol.stack
              //-     each dispositif in set.dispositifs
              //-       li(src="#{dispositif.thumb}")
              //-   span.label.label-success #{set.dispositifCount}
              //-   input(type="range" min="1" max="#{set.dispositifCount}" step="1" value="1")
              //-   img.preview(src='#{set.dispositifIcon}')

              div.col-md-4.previewZone
                ol.stack
                  each verso in set.versos
                    li(src="#{verso.thumb}")
                span.label.label-success #{set.versoCount}
                input(type="range" min="1" max="#{set.versoCount}" step="1" value="1")
                img.preview(src='#{set.versoIcon}')


              div.col-md-4.previewZone
                ol.stack
                  each photo in set.photos
                    li(src="#{photo.thumb}")
                span.label.label-success #{set.photoCount}
                input(type="range" min="1" max="#{set.photoCount}" step="1" value="1")
                img.preview(src='#{set.photoIcon}')

    //- scripts
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/48.js')